:root {
  --NAVY-BLUE: #2e2f42;
  --IRIS: #4d5ae5;
  --SLATE: #434455;
  --OCEAN: #404bbf;
  --WHİTE: #ffffff;
  --CLOUD: #f4f4fd;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  height: 72px;
  background-color: #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-header {
  display: flex;
  align-items: center;
  margin-top: 24px;
}
.listmenu {
  display: flex;
  gap: 40px;
  align-items: center;
}

.logo-header {
  color: var(--IRIS);
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.studio {
  color: var(--NAVY-BLUE);
}

.listmenu li a {
  color: var(--NAVY-BLUE);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.listmenu li a:hover {
  color: var(--OCEAN);
}

.address {
  margin-top: 24px;
  margin-left: auto;
}

.address .header-address {
  display: flex;
  gap: 40px;
}

.address ul li a {
  font-weight: 400;
  color: var(--NAVY-BLUE);
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address ul li a:hover {
  color: var(--OCEAN);
}

.box-type {
  background-color: var(--NAVY-BLUE);
  padding: 188px 0;
  text-align: center;
}
.container-text-1 {
  align-items: center;
  justify-content: center;
}

.text-effective {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  margin-left: 310px;
  margin-bottom: 48px;
  color: white;
}

.button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--IRIS);
  border-radius: 4px;
  cursor: pointer;
  margin-left: 477px;
  color: var(--WHİTE);
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
}

.button:hover {
  background-color: var(--OCEAN);
}

.text-info {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.info-container {
  display: flex;
  gap: 24px;
}

.text-textbox .page {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE);
}

.text-textbox p{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--SLATE);
}

.text-textbox {
  width: calc((100%-72px) / 4);
}

